<div class="resume-main">
  <sl-carousel pagination navigation mouse-dragging loop class="resume-carousel">
    <sl-carousel-item class="resume-carousel-item">
      <p> fusce id velit. Condimentum id venenatis a condimentum vitae sapien pellentesque habitant morbi. Molestie at elementum eu facilisis sed odio morbi. In metus vulputate eu scelerisque felis imperdiet. Mauris a diam maecenas sed enim ut sem viverra. Pellentesque elit eget gravida cum sociis natoque penatibus et. Sed enim ut sem viverra aliquet eget sit. Urna et pharetra pharetra massa. Convallis tellus id interdum velit laoreet id donec. Nascetur ridiculus mus mauris vitae. Dui id ornare arcu odio ut sem nulla. Quis ipsum suspendisse ultrices gravida dictum fusce ut. Aliquet lectus proin nibh nisl condimentum id venenatis a. Metus vulputate eu scelerisque felis imperdiet. Et pharetra pharetra massa massa. Sed sed risus pretium quam vulputate.</p>
    </sl-carousel-item>
    <sl-carousel-item>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus gravida quis blandit turpis cursus in. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Integer feugiat scelerisque varius morbi. Tristique senectus et netus et malesuada. Volutpat consequat mauris nunc congue nisi. Mi eget mauris pharetra et ultrices. Id neque aliquam vestibulum morbi blandit cursus. Nulla facilisi cras fermentum odio eu feugiat. Ipsum suspendisse ultrices gravida dictum fusce ut. Tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </sl-carousel-item>
  </sl-carousel>
  <div class="resume">
    <p><sl-icon name="filetype-pdf"></sl-icon> Download my up to date resume</p>
  </div>
</div>