.resume-main {
    background-color: #222220;
    border-radius: 10px;
    height: 97.5%;
    margin: 1rem;
    padding-bottom: .25rem;
}

.resume-carousel {
    height: 80%;
}

.resume-carousel-item {
    height: 500px;
    overflow-y: scroll;
    text-align: left;
}

.resume {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 2rem;
    > a {
        margin: 1rem auto;
        text-decoration: none;
        color: white;
    }
}

.resume:hover {
    background-color: #096a0755;
    transition: 0.25s;
    cursor: pointer;
}