.resume-main {
    background-color: #222220;
    border-radius: 10px;
    height: 95.5%;
    margin: 1rem;
}

.resume-container {
    margin: 2rem 5rem;
    height: 85%;
    overflow-y: scroll;
}

.resume {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 2rem;
    > a {
        margin: 1rem auto;
        text-decoration: none;
        color: white;
    }
}

.resume:hover {
    background-color: #096a0755;
    transition: 0.25s;
    cursor: pointer;
}