.resume-main {
    background-color: #222220;
    border-radius: 10px;
    height: 100%;
}

.resume-carousel {
    height: 80%;
}

.resume-carousel-item {
    height: 500px;
    overflow-y: scroll;
}

.resume {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 2rem 2rem 0 2rem;
    > p {
        margin: 1rem auto;
    }
}

.resume:hover {
    background-color: #096a0755;
    transition: 0.25s;
    cursor: pointer;
}