<div class="resume-main">
  <sl-carousel pagination navigation mouse-dragging loop class="resume-carousel">
    <sl-carousel-item class="resume-carousel-item">
      <h2>Convex</h2>
      <p><i>Software Engineer (August 2022 - February 2024)</i></p>
      <ul>
        <li>Actively participated in internal application development with a core focus on data synchronization, collaborating with a team of six to ensure proper expertise and quality</li>
        <li>Designed and implemented website architecture using Angular, and a Ruby on Rails backend to facilitate seamless integrations, transitioning from manual to automated setup and reducing touch time for each one</li>
        <li>Successfully integrated three CRM systems with our internal application, tailoring to specific requirements for each platform to accurately sync with the product</li>
        <li>Conducted comprehensive end-to-end testing of the application, detecting and resolving bugs to ensure a robust and error-free user experience</li>
        <li> Analyzed user feedback and collaborated with cross-functional teams to prioritize improvements aimed at enhancing the quality of life of the application</li>
      </ul>
    </sl-carousel-item>
    <sl-carousel-item>
      <h2>Convex</h2>
      <p><i>Software Engineer Intern (May 2022 - August 2022)</i></p>
      <ul>
        <li>Developed a proof of concept internal application tackling a data synchronization challenge using an Angular frontend, Ruby on Rails backend, and a Postgres database</li>
        <li>Used Sentry and Datadog to monitor and debug production systems using time queries and dashboards</li>
        <li>Improved test coverage on team's code base by 15% using comprehensive test suites on rspec to ensure proper functionalities</li>
      </ul>
    </sl-carousel-item>
  </sl-carousel>
  <div class="resume">
    <a href="/assets/files/Brian_Ventura.pdf" download="brian_ventura.pdf"><sl-icon name="filetype-pdf"></sl-icon>Download my up to date resume</a>
  </div>
</div>