<div class="header-navigation">
  <div class="header">
    <div class="img-container">
      <img src="assets/images/brian_ventura_main_icon.jpg">
    </div>
    <h1>Brian Ventura</h1>
  </div>
  <div class="navigation">
    <div class="nav-items">
      <div class="externals">
        <sl-icon name="linkedin" (click)="goToLink('https://www.linkedin.com/in/brian-ventura')"></sl-icon>
        <sl-icon name="github" (click)="goToLink('https://github.com/brianv212')"></sl-icon>
        <sl-icon name="github" (click)="goToLink('https://github.com/brianv212')"></sl-icon>
        <sl-icon name="github" (click)="goToLink('https://github.com/brianv212')"></sl-icon>
      </div>
      <hr class="nav-split">
      <div class="email">
        <sl-icon name="envelope"></sl-icon>
        <p>xbrianv00@gmail.com</p>        
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>