:root {
    --small: 744px;
}


.header-navigation {
    height: 5rem;
    background-color: #222220;
    display: flex;
    flex-direction: row;
    margin: -0.5rem;
}

.header {
    position: relative;
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: row;
    > div {
        width: 2rem;
        height: 2rem;
        margin-left: 2rem;
        margin-top: 1.6rem;
        margin-right: 1rem
    }
}

.img-container img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.navigation {
    position: relative;
    width: 70%;
    height: 50%;

    > .nav-items {
        display: flex;
        float: right;
        > a {
            margin: 2rem 2rem 2rem 0;
        }
    }
}

@media screen and (max-width: 886px) {
    .header {
        width: 75%;
    }

    .navigation {
        width: 25%;
    }
}

@media screen and (max-width: 736px) {
    .navigation {
        display: none
    }
}