<div class="bio-main">
  <div class="image-container">
    <img src="assets/images/brian_ventura_main_icon.jpg">
  </div>
  <div class="bio">
    <div class="bio-text-area">
      <p>
        Hello! My name is Brian Ventura with a Bachelor of Science in Computer Science from UCI.

        I am a software engineer who enjoys building fun things both inside and out of school / work.
        I have a passion for full-stack web development, but I am motivated to learn more about other
        technologies and absorbing new information in the diverse realm of coding.

        Thanks for stopping by!</p>
    </div>
  </div>
</div>
