<div class="bio-main">
  <div class="image-container">
    <img src="assets/images/brian_ventura_icon.jpg">
  </div>
  <div class="bio">
    <div class="bio-text-area">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus gravida quis blandit turpis cursus in. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Integer feugiat scelerisque varius morbi. Tristique senectus et netus et malesuada. Volutpat consequat mauris nunc congue nisi. Mi eget mauris pharetra et ultrices. Id neque aliquam vestibulum morbi blandit cursus. Nulla facilisi cras fermentum odio eu feugiat. Ipsum suspendisse ultrices gravida dictum fusce ut. Tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
    <hr class="bio-bar">
    <div class="bio-text-area">
      <div class="bio-externals">
        <sl-icon name="linkedin"></sl-icon>
        <sl-icon name="instagram"></sl-icon>
        <sl-icon name="github"></sl-icon>
      </div>
    </div>
  </div>
</div>
